.rectangle {
  width: 358px;
  height: 509px;
  flex-shrink: 0;
  background: #e2d9fc;
  margin-top: 121px;
  margin-left: 9px;
}

.title {
  color: #2c2c2c;
  font-family: Noto Sans KR;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Noto Sans KR";
  margin-left: 158px;
  padding-top: 30px;
}

.subtitle {
  display: flex;
  width: 55px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #2c2c2c;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}

.custom-svg {
  margin-top: 10px;
  margin-left: 20px;
}

.custom-button {
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer;
  text-align: center;
}

.custom-button-2 {
  cursor: pointer;
  text-align: center;
}

.custom-rectangle {
  width: 301px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  margin-top: 25px;
  margin-left: 27px;
  overflow: hidden;
  /* Hide overflow text */
}

.custom-rectangle2 {
  width: 301px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  margin-top: 45px;
  margin-left: 27px;
  overflow: hidden;
  /* Hide overflow text */
}

.check {
  cursor: pointer;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  color: #000;
  margin-top: 30px;
}

input[type="text"] {
  border: none;
  width: 100%;
  word-wrap: break-word;
  /* Wrap text within the rectangle */
}

textarea {
  width: 100%;
  height: 100vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .button {
  cursor: pointer;
  width: 10%;
  /* Adjusted the width */
  margin-top: -1px;
  /* Moved the images up */
}

.widget {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

.widget .image-button {
  background: none;
  border: none;
  cursor: pointer;
}

.widget .image-button img {
  width: 40px;
  height: 60px;
  margin: 20px;
}
