.title {
  color: #2c2c2c;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center; /* 가운데 정렬 추가 */
  padding-top: 30px;
}

.custom-button {
  margin-top: 35px;
  margin-left: 22px;
  cursor: pointer;
  text-align: center;
}
.option {
  display: inline-block;
  margin-left: 20px;
}

.option select {
  width: 80px;
  height: 34px;
  flex-shrink: 0;
  border: none;
  border-radius: 6px;
  background-color: #734ceb;
  color: #ffffff;
  text-align: center; /* 가운데 정렬 추가 */
}

.rectangles {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 30px;
}

.rectangle {
  width: 155px;
  height: 155px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 5px;
}
