/* Reset some default styles */
body,
h1,
h2,
p,
button {
  margin: 0;
  padding: 0;
}

.login-container {
  margin: auto;
  text-align: center;
  margin-top: 170px;
}

.icon {
  width: 197px;
  height: 212px;
  margin-bottom: 80px;
}

.button {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnkakao {
  background-color: #ffea0000;
  color: #000;
}

.subText {
  margin-top: 20px;
  font-size: 18px;
  color: #777;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .login-container {
    width: 80%;
  }
}
